@model WisaJobBoard.Models.Job

@{
    ViewBag.Title = "Details";
}


<div class="job">
    <div class="job-header">
        <h1>@Model.Title</h1>
        <div class="details">@Model.Location &middot; @Model.Department</div>
        @Html.ActionLink("Apply for Position", "Create", "Applications", new { id = Model.ID }, new { @class = "btn btn-primary" })
    </div>

    <hr />
    <div class="job-description">
      @Html.Raw(Html.Encode(Model.Description).Replace("\n", "<br />"))
    </div>
   
    <br />
    @Html.ActionLink("Apply for Position", "Create", "Applications", new { id = Model.ID }, new { @class = "btn btn-primary" })

    <dl class="dl-horizontal hidden">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        </span>
    }
    @Html.ActionLink("Back to Jobs", "Index", "Home", null, null)
</p>
