@model WisaJobBoard.Models.Job

@{
    ViewBag.Title = "Details";
}


<div class="job">
    <h1>@Model.Title</h1>
    <h2>@Model.Location</h2>
    @Html.ActionLink("Apply for Position", "Create", "Applications", new { id = Model.ID }, new { @class = "btn btn-primary" })

    <hr />
    @Model.Description

    <dl class="dl-horizontal hidden">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

    </dl>
</div>
@Html.ActionLink("Apply for Position", "Create", "Applications", new { id = Model.ID }, new { @class = "btn btn-primary" })
<p>
    @if (Request.IsAuthenticated)
    {
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        </span>
    }

    @Html.ActionLink("Back to List", "Index")
</p>
