@model IEnumerable<WisaJobBoard.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }


    @using (Html.BeginForm("Index", "Jobs", FormMethod.Get))
    {
    <p>Location: @Html.DropDownList("locations", "All")</p>
    <p>
        Title: @Html.TextBox("Search")<br />
        <input type="submit" value="Filter" />
    </p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>

                <td>
                    @if (Request.IsAuthenticated)
                    {
                        <span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </span>
                    }
                </td>

            </tr>
        }

    </table>
