@model WisaJobBoard.Models.Application

@{
    ViewBag.Title = @Model.FullName;
}

<h2>@Model.FullName</h2>

<div>
    <hr />
    <dl class="dl-horizontal application">

        <dt>
            Posting
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Title)
        </dd>
        <dt>
            Name

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumePath)
        </dt>

        <dd>
            @if (!Model.ResumePath.IsEmpty())
            {
                @Html.ActionLink("Download", "Download", new { id = Model.ID }, new { @class = "btn" })
            }
            else
            {
                <i>No Resume</i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplied)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
